autom4te.cache
configure.scan
autoscan.log
patches/
*.patch
*.diff
todo/
tmp/
*.swp
usr/
*~
Makefile.in
aclocal.m4
config.aux/ar-lib
config.aux/compile
config.aux/config.guess
config.aux/config.sub
config.aux/depcomp
config.aux/install-sh
config.aux/ltmain.sh
config.aux/missing
configure
doc/Makefile.in
doc/man7/Makefile.in
share/Makefile.in
share/lua/Makefile.in
tests/Makefile.in
tests/lib/Makefile.in
ChangeLog
VERSION
INSTALL
config.h.in
m4/ltoptions.m4
m4/lt~obsolete.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/libtool.m4
