autom4te.cache
configure.scan
autoscan.log
patches/
*.patch
*.diff
todo/
tmp/
*.swp
usr/
*~
Makefile.in
aclocal.m4
config.aux/install-sh
config.aux/missing
configure
doc/Makefile.in
doc/man7/Makefile.in
doc/man7/libquvi-scripts.7
share/Makefile.in
share/lua/Makefile.in
tests/Makefile.in
ChangeLog
VERSION
INSTALL
